@import "icovar";

@font-face {
  font-family: 'defyu';
  src:  url('#{$icomoon-font-path}/defyu.eot?e4celu');
  src:  url('#{$icomoon-font-path}/defyu.eot?e4celu#iefix') format('embedded-opentype'),
    url('#{$icomoon-font-path}/defyu.ttf?e4celu') format('truetype'),
    url('#{$icomoon-font-path}/defyu.woff?e4celu') format('woff'),
    url('#{$icomoon-font-path}/defyu.svg?e4celu#defyu') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="defyu-"], [class*=" defyu-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'defyu' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.defyu-facebook {
  &:before {
    content: $defyu-facebook;
  }
}
.defyu-instagram {
  &:before {
    content: $defyu-instagram;
  }
}
.defyu-play {
  &:before {
    content: $defyu-play;
  }
}
.defyu-twitter {
  &:before {
    content: $defyu-twitter;
  }
}
.defyu-users {
  &:before {
    content: $defyu-users;
  }
}

