/// fuentes y colores standard del site

//colores
 $verde: rgb(47, 231, 112);
 $negro: rgb(18, 19, 21);
//fuentes

@font-face {
  font-family: 'Montserrat-Black';
  src: url('fonts/Montserrat-Black.eot');
  src: url('fonts/Montserrat-Black.woff2') format('woff2'),
       url('fonts/Montserrat-Black.woff') format('woff'),
       url('fonts/Montserrat-Black.ttf') format('truetype'),
       url('fonts/Montserrat-Black.svg#Montserrat-Black') format('svg'),
       url('fonts/Montserrat-Black.eot?#iefix') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Montserrat-Light';
  src: url('fonts/Montserrat-Light.eot');
  src: url('fonts/Montserrat-Light.woff2') format('woff2'),
       url('fonts/Montserrat-Light.woff') format('woff'),
       url('fonts/Montserrat-Light.ttf') format('truetype'),
       url('fonts/Montserrat-Light.svg#Montserrat-Black') format('svg'),
       url('fonts/Montserrat-Light.eot?#iefix') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}



//variables
$standard: 'Montserrat', sans-serif;
$title: 'Montserrat-Black', Georgia;
;

h1, h2, h3, h4, h5, h6{
  font-family: $title;
  font-weight: bolder;
}

p{
  font-family: $standard;
  font-size: 16px;
}

a{
  font-family: $standard; 
  font-size: 18px;
  &:hover{
    color: darken($verde, 6%);
    transition: all 0.8s ease;
  }
}

.fa{cursor: pointer;}

