@mixin ease($propiedad) {
  transition: 1s ease $propiedad;
  -webkit-transition: 1s ease $propiedad;
  -moz-transition: 1s ease $propiedad;
  -o-transition: 1s ease $propiedad;

}
@mixin gradient {
  background: linear-gradient(0deg, #156f35 10%, #2fe770 90%) no-repeat;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
@mixin fade-up{
    //-webkit-mask-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0,0,0,1)), to(rgba(0,0,0,0)))
    -webkit-mask-image: -webkit-linear-gradient(rgba(0,0,0,0.9) 0%,rgba(0,0,0,0.60) 70%,rgba(0,0,0,0) 100%);
}
@mixin fade-down{
    //-webkit-mask-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0,0,0,1)), to(rgba(0,0,0,0)))
    -webkit-mask-image: -webkit-linear-gradient(rgba(0, 0, 0, 0),rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.5), rgba(0,0,0,1));
}
@mixin section-fade{
    -webkit-mask-image: -webkit-linear-gradient(top, rgba(0,0,0,0) 0%,rgba(0,0,0,0.8) 13%,rgba(0,0,0,1) 50%,rgba(0,0,0,0.8) 88%,rgba(0,0,0,0) 100%);
}
@mixin button{
    color: white;
    background: transparent;
    padding: 8px 12px;
    border: 2px solid white;
    border-radius: 10px;
    i{
        margin-right: 6px;
        
    }
    &:hover{
        cursor: pointer;
        @include ease(all);
        background: rgba(255, 255, 255, 0.52);
        
    }
}
@mixin section{
    padding-top: 15vh;
    width: 100%;
    height: 85vh;
    position: relative;
    text-align: center;
}
@mixin modal{
    opacity: 0;
    position: fixed;
    z-index: 9999;
    top: 0px;
    left: 0px;
    right: 0px;
    margin: 0 auto;
    width: 100%;
    height: 100vh;
    background: rgba(0, 0, 0, 0.8);
    padding: 10px;
    .fa-close{
        position: absolute;
        top: 4vh;
        z-index: 999;
        font-size: xx-large;
        color: white;
        right: 4vw;
        &:hover{
            cursor: pointer;
        }
    }
    article{
        top: -100vh;
        max-width: 600px;
        height: 60vh;
        position: relative;
        margin: 8% auto;
        overflow: scroll;
        background: $negro;
        color: white;
        padding: 20px;

        h1{
            display: block;
            margin: 20px auto;
            color: white;
            font-size: 2em;
            text-align: center
                i{
                    display: block;
                    margin: 10px auto;
                }
        }
        p{
            display: block;
            margin: 40px 0px;
            color: white;
            text-align: center;
            font-size: medium;
            text-align: left;
            line-height: 28px;
            strong{
                display: block;
                margin: 10px 0px;
                font-size: large;

            }

        }
        form{
         p{
           width: 60%;
           display: block;
           margin: 10px auto;
           text-align: center;
           input[type=text]{
            background: rgba(255, 255, 255, 0.21);
            border: 2px solid $negro;
            color: $negro;
             padding: 8px;
             &:focus{
               @include ease(all);
               background: $negro;
               color: white;
             }
          }
           input[type=submit]{
             display: block;
             margin: 0 auto;
             @include button;
             color: $verde;
             border: 1px solid $verde;
             &:hover{
               @include ease(all);
               background: $verde;
               color: white;

             }
           }
        }
      }
        &:before{
            text-align: center;
            content: '\f05c';
            font-family: 'FontAwesome';
            color: red;
            display: block;
            margin: 10px auto;
            font-size: 4em;
        }
    }
    iframe{
        top: -100vh;
        width: 60%;
        height: 65vh;
        position: relative;
        margin: 8% auto;
    }
}

//falling modal
  @keyframes fall{
      from{top:-50vh;}
      to{top: 0vh;}
  }
  @keyframes up{
      from{top:10vh; opacity: 1; display: block !important;}
      to{top: -100vh; opacity:0; display: none !important;}
  }
  @keyframes fade-out{
      from{opacity: 1; display: block !important;}
      to{opacity: 0; display: none !important;}
  }
  @keyframes fade-in{
      from{opacity: 0; display: none !important;}
      to{opacity: 1; display: block !important;}
  }
  .show-modal{
      animation-name: fade-in;
      animation-duration: 1.8s;
      animation-fill-mode: forwards;
      display: block !important;
      article, iframe{
          display: block !important;
          animation-name: fall;
          animation-duration: 1s;
          animation-fill-mode: forwards;
      }

  }
  .hide-modal{
      article, iframe{
          animation-name: up;
          animation-duration: 1s;
          animation-fill-mode: forwards;
      }
      animation-name: fade-out;
      animation-duration: 1.8s;
      animation-fill-mode: forwards;
      display: none !important;

      }
  .lock-body{
  height: 100vh;
  overflow: hidden;
}
  .active{
      display: block;
  }
