@media all and (min-width: 1800px){
  header{
    height: 100px;
    padding: 14px auto;
    max-height: none;
    figure{
      a{
        img{
          height: 90%;
        }
      }
    }
    p{
      a{font-size: xx-large;}
    }
    .login-but{
      font-size: xx-large;
    }
  }
  .cover{
    .cta{
      position: relative;
      top: 0vh;
      h1{
        padding-left: 7.5vw;
        display: block;
        position: relative;
        margin: 5px auto;
        width: 90%;
        font-size: 10em;
      }
      i{
        margin: 0.4em auto;
        &:before{
          font-size: 2em;
        }

      }
      .store{
        p{
          font-size: 2em;
        }
        a{
          max-height: 100px;
          img{
            height: 90%;
          }
        }
      }
    }
    .device{
      position: relative;
      top: 0vh;
      figure{
       max-height: 1000px;
      }
    }
  }
  .howto{
    .title-holder{
      margin: 80px auto;
      h1{
        font-size: 6em;
      }
      p{font-size: 2em;}
    }
    .step-holder{
      margin-top: 15vh;
      max-width: 2000px;
      .item{
        max-width: 400px;
        margin: 0px 1%;
        figure{
          max-height: 280px;
        }
        h3{font-size: 2.8em; line-height: 1em;}
        p{font-size: xx-large;}
      }
    }
  }
  .feats{
    height: 80vh;
    .selector{
      max-width: 800px;
      a{
        h1{
          font-size: 8em;
        }
      }
    }
    .slide-holder{
      max-width: 2000px;
      ul{
        li{
          section{
            width: 100%;
            .screen{
              right: -5vw;
              width: 60%;
              max-width: none;
            }
            .carpet{
              bottom: -25vh;
              width: 30%;
              max-width: none;
            }
          }
        }
      }
    }
  }
  .join{
    height: 100vh;
    .title{
      font-size: 5em;
      max-width: 1500px;
    }
    .members{
      max-width: 1500px;
      font-size: 2em;
      margin: 80px auto;
    }
    form{
      .submiter{
        max-width: 900px;
        input{
          font-size: xx-large !important;
        }
      }
    }
    .legal-txt{
      padding: 40px auto;
      font-size: x-large;
    }
    .social-hub{
      margin: 60px auto;
      a{
        i{
          &:before{
            font-size: 4.5em;
          }
        }
      }
    }

  }
}
@media screen and (max-width: 700px){
  body{
    margin: 0 auto;
    padding: 0px;
    width: 100%;
    overflow-x: hidden;
  }
  header{
    p{display: none;}
  }
  section{
    height: auto !important;
    margin: 20px auto;
  }
  .cover{
    display: flex;
    flex-flow: column;
    .holder{
      display: block;
      margin: 0 auto;
      width: 80%;
    }
    .cta{
      order: 2;
      .title{
          display: block;
          margin: 8px auto;
          h1{
            font-size: 3.2em;
          }
      }
      .store{
        width: 100%;
        a{
          margin: 4px 0px;
           img{
            max-height: 30px;

          }
        }
      }
    }
    .device{
      order: 1;
      img{
        max-height: 400px;
        margin: 12px auto;
      }
    }
    .cover-bg{
    }
  }
  .howto{
    background-position: center top;
    .title-holder{
      h1{
        font-size: 3.5em;
        line-height: 0.8em;
      }
    }
    .step-holder{
      .item{
        width: 30%;
        figure{
          img{max-height: 80px;}
        }
      }
    }
  }
  .feats{
    .bullet-selector{
      top: 10vh;
      left: 0vw;
      ul{
        li{
          a{
            font-size: 1.5em;
          }
        }
      }
    }
    .selector{
      top: 0px;
      position: relative;
      margin: 0 auto;
      width: 90%;
      a{
        h1{font-size: 2.8em;}
      }
    }
    .slide-holder{
      ul{
        li{
          section{
            min-height: 500px;
            .screen{
              left: -20vw;
              top: 0vh;
              max-width: 450px;
            }
            .carpet{
              left: auto;
              left: -25vw;
              bottom: 15vh;
              max-width: 260px;
              transform: rotate(60deg);
            }
          }
        }
      }
    }

  }
  .join{
    .title{
      font-size: 2em;
      line-height: 1.2em;
    }
    form{
      .submiter{
        width: 80%;
        input[type=email]{
          padding: 5% ;
          font-size: medium !important;
          width: 68%;
        }
        input[type=submit]{
          width: 30%;
        }
      }
    }
    .social-hub{
      padding-bottom: 80px;
    }
  }

  //modal
  .login-form, .video, .terms{
    padding: 0px;
    article{
      max-width: 70% !important;
      max-height: 50vh !important;
      p{
        width: 80% !important;
      }
    }
  }
  iframe{
    margin: 20vh auto !important;
    width: 95% !important;
    height: auto !important;
  }
  .show-modal{
    article, iframe{
      position: relative !important;
      margin: 18vh auto !important;
    }
    .fa-close{
      right: 8vw !important;
    }
  }
}
