@import 'reset';
@import 'deficon';
@import 'fonts-colors';
@import 'mixin'; 

//browser defaults
::-webkit-scrollbar{
  width: 8px;
  background: $negro;
}
::-webkit-scrollbar-thumb{
  background: $verde;
  border-radius: 8px;
}
::-webkit-scrollbar:horizontal{
  height: 8px;
  background: $negro;
}
 
body{
    background: $negro;
    color: white;
} 

//header
header{
    width: 100%;
    max-height: 70px;
    padding: 3px 0px;
    position: fixed;
    z-index: 99;
    top: 0px;
    display: flex;
    flex-flow: wrap;
    align-items: center;
    justify-content: space-around;
    background: rgba(0, 0, 0, 0.44);
    color: $verde;
    p{
        text-transform: uppercase;
        a{
            color: $verde;

        }
    }
    button{
        @include button;
    }
  .login-form{
    display: none;
    @include modal;
    article{
      h2{color: $verde;}
      text-align: center;
      top: 0vh;
      background: white;
      overflow: hidden;
      @include ease(all);
      &:before{
            text-align: center;
            content: '\f023';
            font-family: 'FontAwesome';
            color: $verde;
            display: block;
            margin: 10px auto;
            font-size: 4em;
        }
    }
  }
}

.cover{
   @include section;
    .cover-bg{
        top:0px;
        left: 0px;
        z-index: -1;
        position: absolute;
        width: 100%;
        height: 100vh;
        background: url(images/cover-bg.png) no-repeat;
        background-size: cover;
        @include fade-up;

    }
    .holder{
        width: 45%;
        display: inline-block;
        vertical-align: top;
    }
    .cta{
        h1{
            @include gradient;
            font-size: 6em;
            line-height: 0.8em;
            text-align: left;
            text-transform: uppercase;
            margin: 0 auto;
            width: 500px;
            display: block;
        }
        i{
          display: block;
          font-size: 5.5em;
          margin: 0.2em 0px;
          &:hover{
              &:before{
                  @include ease(color);
                  color: $verde;
                  cursor: pointer;
              }
          }
        }
        .video{
            display: none;
            @include modal;
        }
        .store{
            p{
                font-size: 20px;
                margin: 8px 0px;
            }
            a{
                max-height: 70px;
                margin: 0px 8px;
                display: inline-block;
                vertical-align: middle;
                img{
                    height: 80%;
                }
            }
        }
    }
    .device{
        figure, video{
          //display: none;
            max-width: 560px;
            max-height: 570px;
            display: block;
            margin: 0 auto;
            position: relative;
            img{
                
                height: 100%;
            }
        }
    }
}

.howto{
    @include section;
    background: url(images/stadium-bg.png) no-repeat;
    background-size: cover;
    background-attachment: fixed;
    padding-bottom: 120px;
    .title-holder{
        width: 80%;
        margin: 20px auto;
        h1{
            text-transform: uppercase;
            font-size: 5em;
            @include gradient;
        }
        p{
            margin-top: 10px;
            font-size: 1.5em;
        }
    }
    .step-holder{
        max-width: 1500px;
        margin: 60px auto;
        .item{
            max-width: 200px;
            display: inline-block;
            vertical-align: top;
            margin: 0 4%;
            figure{
                max-height: 150px;
                width: auto;
                margin: 0 auto;
                padding: 20px 0px;
                border-bottom: 1px solid white;
                img{
                    height: 100%;
                }
              .img-hover{
                display: none;
                margin: 0 auto;
              }
              &:hover{
                .p-ico{display: none;}
                .img-hover{display: block;}
              }
            }
              h3{
                   padding: 10px 0px;
                  text-transform: uppercase;
                }
        }
    }
    @include section-fade;
}

.feats{
    display: none;
    @include section;
    height: 110vh;
    background: url(images/grass-bg.png) no-repeat;
    background-size: cover;
    background-position: bottom;
    .bullet-selector{
        z-index: 99999;
        position: absolute;
        left: 10vh;
        top: 30vh;
        width: 60px;
        padding: 8px;
        ul{
            list-style: none;
            li{
                margin: 8px 0px;
                a{
                    color: white;
                    font-size: x-large;
                     &:hover{
                            &:before{
                                    @include ease(all);
                                    color: darken($verde, 20%);
                            }
                    }
                }
            }
        }
      .active{
        &:before{
          color: $verde;
        }
      }
    }
    .selector{
        z-index: 9999999;
        position: absolute;
        left: 15%;
        max-width: 600px;
        h1{
            @include gradient;
            font-size: 4.5em;
            line-height: 0.8em;
            text-transform: uppercase;
            text-align: left;
            opacity: 0.5;
            &:hover{
                opacity: 1;
                cursor: pointer;
                @include ease(all);
            }
        }
        .active{
            h1{
                opacity: 1;
            }
        }
    }
    .slide-holder{
        width: 92%;
        max-width: 1500px;
        margin: 0 auto;
        border: 0px;
        background: transparent !important;
        ul{
            list-style: none;
            li{
                display: none;
                section{
                    width: 100%;
                    min-height: 700px;
                    position: relative;
                    .screen{
                        position: absolute;
                        top: 0px;
                        right: 0vw;
                        max-width: 900px;
                    }
                    .carpet{
                        position: absolute;
                        bottom: 2vh;
                        left: 8vw;
                        max-width: 400px;
                    }
                }
                &:nth-child(1){
                    display: block;
                }
            }
        }
        .flex-prev, .flex-next{
            &:before{
                color: rgba(255, 255, 255, 0.56);
            }
        }
    }
    @include section-fade;
}

.join{
    @include section;
    background: url(images/foot-bg.png) no-repeat;
    background-size: cover;
    position: relative;
    .title{
        max-width: 1000px;
        margin: 20px auto;
        text-transform: uppercase;
        font-size: 3.5em;
        line-height: 1em;
        @include gradient;
        span{
            font-size: 1.5em;
        }
    }
    .members{
        max-width: 800px;
        margin: 20px auto;
        text-align: center;
        h1{
            font-size: 4em;
            margin: 0px;
            line-height: 1em;
        }
        h2{
            font-size: 2.5em;
            margin: 0px;
            line-height: 1em;
        }
    }
    form{
        .submiter{
            max-width: 500px;
            border: 2px solid white;
            margin: 15px auto;
            border-radius: 20px;
            overflow: hidden;
            background: rgba(255, 255, 255, 0.1);
            input[type=email]{
                vertical-align: middle;
                width: 70.4%;
                background: rgba(255, 255, 255, 0);
                color: white;
                padding: 8px 20px;
                margin: 0px;
                display: inline;
                font-size: x-large;
                 &:focus{
                    @include ease(all);
                    color: $verde;
                }
            }
            input[type=submit]{
                vertical-align: middle;
                width: 28.6%;
                background: $verde;
                color: white;
                padding: 4% 20px;
                margin: 0px;
                display: inline;
                font-size: x-large;
                text-transform: uppercase;
                &:hover{
                    @include ease(all);
                    background: darken($verde, 20%);
                    cursor: pointer;
                }
            }
        }

    }
    .legal-txt{
            font-size: small;
            strong{
                 color: $verde;
                 &:hover{
                    cursor: help;
                 }
             }
        }
    .social-hub{
        margin: 20px auto;
        a{
            i{
                &:before{
                    font-size: 3.5em;
                    color: white;
                    margin: 0 10px;
                }
                &:hover{
                    &:before{
                        @include ease(all);
                        color: $verde;
                    }

                }
            }
        }
    }
    .terms{
        @include modal;
        display: none;
    }
    footer{
        position: absolute;
        bottom: 0px;
        width: 100%;
        background: rgba(0, 0, 0, 0.80);
        padding: 20px 0px;
        text-align: center;
    }
}


//mobile
@import 'mobile';
