@charset "UTF-8";
/*
	Theme Name: ecomarket-theme
	Theme URI: http://ecomarketpanama.com
	Description: Template ecomarket panama con woocommerce
	Version: 1.0
	Author: Jose Avila
	Author URI: http://joseavila.com.ve
	Tags: Blank, HTML5, CSS3

	License: grupo ecomarket panama
	License URI: http://ecomarketpanama.com/nosotros
*/
/*////////////reset///////////////*/
body, div, a, h1, h2, h3, h4, h5, h6, p, ul, ol, li, dl, dt, dd, img, form, fieldset, input, textarea, blockquote { margin: 0px; padding: 0; border: 0; outline: none; text-decortion: none !important; }

a { text-decoration: none !important; }

figure { margin: 0px; }

body { margin: 0px !important; font-family: 'Roboto', sans-serif; }

@font-face { font-family: 'defyu'; src: url("fonts/defyu.eot?e4celu"); src: url("fonts/defyu.eot?e4celu#iefix") format("embedded-opentype"), url("fonts/defyu.ttf?e4celu") format("truetype"), url("fonts/defyu.woff?e4celu") format("woff"), url("fonts/defyu.svg?e4celu#defyu") format("svg"); font-weight: normal; font-style: normal; }

[class^="defyu-"], [class*=" defyu-"] { /* use !important to prevent issues with browser extensions that change fonts */ font-family: 'defyu' !important; speak: none; font-style: normal; font-weight: normal; font-variant: normal; text-transform: none; line-height: 1; /* Better Font Rendering =========== */ -webkit-font-smoothing: antialiased; -moz-osx-font-smoothing: grayscale; }

.defyu-facebook:before { content: ""; }

.defyu-instagram:before { content: ""; }

.defyu-play:before { content: ""; }

.defyu-twitter:before { content: ""; }

.defyu-users:before { content: ""; }

@font-face { font-family: 'Montserrat-Black'; src: url("fonts/Montserrat-Black.eot"); src: url("fonts/Montserrat-Black.woff2") format("woff2"), url("fonts/Montserrat-Black.woff") format("woff"), url("fonts/Montserrat-Black.ttf") format("truetype"), url("fonts/Montserrat-Black.svg#Montserrat-Black") format("svg"), url("fonts/Montserrat-Black.eot?#iefix") format("embedded-opentype"); font-weight: normal; font-style: normal; }

@font-face { font-family: 'Montserrat-Light'; src: url("fonts/Montserrat-Light.eot"); src: url("fonts/Montserrat-Light.woff2") format("woff2"), url("fonts/Montserrat-Light.woff") format("woff"), url("fonts/Montserrat-Light.ttf") format("truetype"), url("fonts/Montserrat-Light.svg#Montserrat-Black") format("svg"), url("fonts/Montserrat-Light.eot?#iefix") format("embedded-opentype"); font-weight: normal; font-style: normal; }

h1, h2, h3, h4, h5, h6 { font-family: "Montserrat-Black", Georgia; font-weight: bolder; }

p { font-family: "Montserrat", sans-serif; font-size: 16px; }

a { font-family: "Montserrat", sans-serif; font-size: 18px; }

a:hover { color: #1ade5f; transition: all 0.8s ease; }

.fa { cursor: pointer; }

@-webkit-keyframes fall { from { top: -50vh; }
  to { top: 0vh; } }

@keyframes fall { from { top: -50vh; }
  to { top: 0vh; } }

@-webkit-keyframes up { from { top: 10vh;
    opacity: 1;
    display: block !important; }
  to { top: -100vh;
    opacity: 0;
    display: none !important; } }

@keyframes up { from { top: 10vh;
    opacity: 1;
    display: block !important; }
  to { top: -100vh;
    opacity: 0;
    display: none !important; } }

@-webkit-keyframes fade-out { from { opacity: 1;
    display: block !important; }
  to { opacity: 0;
    display: none !important; } }

@keyframes fade-out { from { opacity: 1;
    display: block !important; }
  to { opacity: 0;
    display: none !important; } }

@-webkit-keyframes fade-in { from { opacity: 0;
    display: none !important; }
  to { opacity: 1;
    display: block !important; } }

@keyframes fade-in { from { opacity: 0;
    display: none !important; }
  to { opacity: 1;
    display: block !important; } }

.show-modal { -webkit-animation-name: fade-in; animation-name: fade-in; -webkit-animation-duration: 1.8s; animation-duration: 1.8s; -webkit-animation-fill-mode: forwards; animation-fill-mode: forwards; display: block !important; }

.show-modal article, .show-modal iframe { display: block !important; -webkit-animation-name: fall; animation-name: fall; -webkit-animation-duration: 1s; animation-duration: 1s; -webkit-animation-fill-mode: forwards; animation-fill-mode: forwards; }

.hide-modal { -webkit-animation-name: fade-out; animation-name: fade-out; -webkit-animation-duration: 1.8s; animation-duration: 1.8s; -webkit-animation-fill-mode: forwards; animation-fill-mode: forwards; display: none !important; }

.hide-modal article, .hide-modal iframe { -webkit-animation-name: up; animation-name: up; -webkit-animation-duration: 1s; animation-duration: 1s; -webkit-animation-fill-mode: forwards; animation-fill-mode: forwards; }

.lock-body { height: 100vh; overflow: hidden; }

.active { display: block; }

::-webkit-scrollbar { width: 8px; background: #121315; }

::-webkit-scrollbar-thumb { background: #2fe770; border-radius: 8px; }

::-webkit-scrollbar:horizontal { height: 8px; background: #121315; }

body { background: #121315; color: white; }

header { width: 100%; max-height: 70px; padding: 3px 0px; position: fixed; z-index: 99; top: 0px; display: -webkit-flex; display: -ms-flexbox; display: flex; -webkit-flex-flow: wrap; -ms-flex-flow: wrap; flex-flow: wrap; -webkit-align-items: center; -ms-flex-align: center; align-items: center; -webkit-justify-content: space-around; -ms-flex-pack: distribute; justify-content: space-around; background: rgba(0, 0, 0, 0.44); color: #2fe770; }

header p { text-transform: uppercase; }

header p a { color: #2fe770; }

header button { color: white; background: transparent; padding: 8px 12px; border: 2px solid white; border-radius: 10px; }

header button i { margin-right: 6px; }

header button:hover { cursor: pointer; transition: 1s ease all; -webkit-transition: 1s ease all; -moz-transition: 1s ease all; -o-transition: 1s ease all; background: rgba(255, 255, 255, 0.52); }

header .login-form { display: none; opacity: 0; position: fixed; z-index: 9999; top: 0px; left: 0px; right: 0px; margin: 0 auto; width: 100%; height: 100vh; background: rgba(0, 0, 0, 0.8); padding: 10px; }

header .login-form .fa-close { position: absolute; top: 4vh; z-index: 999; font-size: xx-large; color: white; right: 4vw; }

header .login-form .fa-close:hover { cursor: pointer; }

header .login-form article { top: -100vh; max-width: 600px; height: 60vh; position: relative; margin: 8% auto; overflow: scroll; background: #121315; color: white; padding: 20px; }

header .login-form article h1 { display: block; margin: 20px auto; color: white; font-size: 2em; text-align: center i; text-align-display: block; text-align-margin: 10px auto; }

header .login-form article p { display: block; margin: 40px 0px; color: white; text-align: center; font-size: medium; text-align: left; line-height: 28px; }

header .login-form article p strong { display: block; margin: 10px 0px; font-size: large; }

header .login-form article form p { width: 60%; display: block; margin: 10px auto; text-align: center; }

header .login-form article form p input[type=text] { background: rgba(255, 255, 255, 0.21); border: 2px solid #121315; color: #121315; padding: 8px; }

header .login-form article form p input[type=text]:focus { transition: 1s ease all; -webkit-transition: 1s ease all; -moz-transition: 1s ease all; -o-transition: 1s ease all; background: #121315; color: white; }

header .login-form article form p input[type=submit] { display: block; margin: 0 auto; color: white; background: transparent; padding: 8px 12px; border: 2px solid white; border-radius: 10px; color: #2fe770; border: 1px solid #2fe770; }

header .login-form article form p input[type=submit] i { margin-right: 6px; }

header .login-form article form p input[type=submit]:hover { cursor: pointer; transition: 1s ease all; -webkit-transition: 1s ease all; -moz-transition: 1s ease all; -o-transition: 1s ease all; background: rgba(255, 255, 255, 0.52); }

header .login-form article form p input[type=submit]:hover { transition: 1s ease all; -webkit-transition: 1s ease all; -moz-transition: 1s ease all; -o-transition: 1s ease all; background: #2fe770; color: white; }

header .login-form article:before { text-align: center; content: '\f05c'; font-family: 'FontAwesome'; color: red; display: block; margin: 10px auto; font-size: 4em; }

header .login-form iframe { top: -100vh; width: 60%; height: 65vh; position: relative; margin: 8% auto; }

header .login-form article { text-align: center; top: 0vh; background: white; overflow: hidden; transition: 1s ease all; -webkit-transition: 1s ease all; -moz-transition: 1s ease all; -o-transition: 1s ease all; }

header .login-form article h2 { color: #2fe770; }

header .login-form article:before { text-align: center; content: '\f023'; font-family: 'FontAwesome'; color: #2fe770; display: block; margin: 10px auto; font-size: 4em; }

.cover { padding-top: 15vh; width: 100%; height: 85vh; position: relative; text-align: center; }

.cover .cover-bg { top: 0px; left: 0px; z-index: -1; position: absolute; width: 100%; height: 100vh; background: url(images/cover-bg.png) no-repeat; background-size: cover; -webkit-mask-image: -webkit-linear-gradient(rgba(0, 0, 0, 0.9) 0%, rgba(0, 0, 0, 0.6) 70%, transparent 100%); }

.cover .holder { width: 45%; display: inline-block; vertical-align: top; }

.cover .cta h1 { background: linear-gradient(0deg, #156f35 10%, #2fe770 90%) no-repeat; -webkit-background-clip: text; -webkit-text-fill-color: transparent; font-size: 6em; line-height: 0.8em; text-align: left; text-transform: uppercase; margin: 0 auto; width: 500px; display: block; }

.cover .cta i { display: block; font-size: 5.5em; margin: 0.2em 0px; }

.cover .cta i:hover:before { transition: 1s ease color; -webkit-transition: 1s ease color; -moz-transition: 1s ease color; -o-transition: 1s ease color; color: #2fe770; cursor: pointer; }

.cover .cta .video { display: none; opacity: 0; position: fixed; z-index: 9999; top: 0px; left: 0px; right: 0px; margin: 0 auto; width: 100%; height: 100vh; background: rgba(0, 0, 0, 0.8); padding: 10px; }

.cover .cta .video .fa-close { position: absolute; top: 4vh; z-index: 999; font-size: xx-large; color: white; right: 4vw; }

.cover .cta .video .fa-close:hover { cursor: pointer; }

.cover .cta .video article { top: -100vh; max-width: 600px; height: 60vh; position: relative; margin: 8% auto; overflow: scroll; background: #121315; color: white; padding: 20px; }

.cover .cta .video article h1 { display: block; margin: 20px auto; color: white; font-size: 2em; text-align: center i; text-align-display: block; text-align-margin: 10px auto; }

.cover .cta .video article p { display: block; margin: 40px 0px; color: white; text-align: center; font-size: medium; text-align: left; line-height: 28px; }

.cover .cta .video article p strong { display: block; margin: 10px 0px; font-size: large; }

.cover .cta .video article form p { width: 60%; display: block; margin: 10px auto; text-align: center; }

.cover .cta .video article form p input[type=text] { background: rgba(255, 255, 255, 0.21); border: 2px solid #121315; color: #121315; padding: 8px; }

.cover .cta .video article form p input[type=text]:focus { transition: 1s ease all; -webkit-transition: 1s ease all; -moz-transition: 1s ease all; -o-transition: 1s ease all; background: #121315; color: white; }

.cover .cta .video article form p input[type=submit] { display: block; margin: 0 auto; color: white; background: transparent; padding: 8px 12px; border: 2px solid white; border-radius: 10px; color: #2fe770; border: 1px solid #2fe770; }

.cover .cta .video article form p input[type=submit] i { margin-right: 6px; }

.cover .cta .video article form p input[type=submit]:hover { cursor: pointer; transition: 1s ease all; -webkit-transition: 1s ease all; -moz-transition: 1s ease all; -o-transition: 1s ease all; background: rgba(255, 255, 255, 0.52); }

.cover .cta .video article form p input[type=submit]:hover { transition: 1s ease all; -webkit-transition: 1s ease all; -moz-transition: 1s ease all; -o-transition: 1s ease all; background: #2fe770; color: white; }

.cover .cta .video article:before { text-align: center; content: '\f05c'; font-family: 'FontAwesome'; color: red; display: block; margin: 10px auto; font-size: 4em; }

.cover .cta .video iframe { top: -100vh; width: 60%; height: 65vh; position: relative; margin: 8% auto; }

.cover .cta .store p { font-size: 20px; margin: 8px 0px; }

.cover .cta .store a { max-height: 70px; margin: 0px 8px; display: inline-block; vertical-align: middle; }

.cover .cta .store a img { height: 80%; }

.cover .device figure, .cover .device video { max-width: 560px; max-height: 570px; display: block; margin: 0 auto; position: relative; }

.cover .device figure img, .cover .device video img { height: 100%; }

.howto { padding-top: 15vh; width: 100%; height: 85vh; position: relative; text-align: center; background: url(images/stadium-bg.png) no-repeat; background-size: cover; background-attachment: fixed; padding-bottom: 120px; -webkit-mask-image: -webkit-linear-gradient(top, transparent 0%, rgba(0, 0, 0, 0.8) 13%, black 50%, rgba(0, 0, 0, 0.8) 88%, transparent 100%); }

.howto .title-holder { width: 80%; margin: 20px auto; }

.howto .title-holder h1 { text-transform: uppercase; font-size: 5em; background: linear-gradient(0deg, #156f35 10%, #2fe770 90%) no-repeat; -webkit-background-clip: text; -webkit-text-fill-color: transparent; }

.howto .title-holder p { margin-top: 10px; font-size: 1.5em; }

.howto .step-holder { max-width: 1500px; margin: 60px auto; }

.howto .step-holder .item { max-width: 200px; display: inline-block; vertical-align: top; margin: 0 4%; }

.howto .step-holder .item figure { max-height: 150px; width: auto; margin: 0 auto; padding: 20px 0px; border-bottom: 1px solid white; }

.howto .step-holder .item figure img { height: 100%; }

.howto .step-holder .item figure .img-hover { display: none; margin: 0 auto; }

.howto .step-holder .item figure:hover .p-ico { display: none; }

.howto .step-holder .item figure:hover .img-hover { display: block; }

.howto .step-holder .item h3 { padding: 10px 0px; text-transform: uppercase; }

.feats { display: none; padding-top: 15vh; width: 100%; height: 85vh; position: relative; text-align: center; height: 110vh; background: url(images/grass-bg.png) no-repeat; background-size: cover; background-position: bottom; -webkit-mask-image: -webkit-linear-gradient(top, transparent 0%, rgba(0, 0, 0, 0.8) 13%, black 50%, rgba(0, 0, 0, 0.8) 88%, transparent 100%); }

.feats .bullet-selector { z-index: 99999; position: absolute; left: 10vh; top: 30vh; width: 60px; padding: 8px; }

.feats .bullet-selector ul { list-style: none; }

.feats .bullet-selector ul li { margin: 8px 0px; }

.feats .bullet-selector ul li a { color: white; font-size: x-large; }

.feats .bullet-selector ul li a:hover:before { transition: 1s ease all; -webkit-transition: 1s ease all; -moz-transition: 1s ease all; -o-transition: 1s ease all; color: #129e44; }

.feats .bullet-selector .active:before { color: #2fe770; }

.feats .selector { z-index: 9999999; position: absolute; left: 15%; max-width: 600px; }

.feats .selector h1 { background: linear-gradient(0deg, #156f35 10%, #2fe770 90%) no-repeat; -webkit-background-clip: text; -webkit-text-fill-color: transparent; font-size: 4.5em; line-height: 0.8em; text-transform: uppercase; text-align: left; opacity: 0.5; }

.feats .selector h1:hover { opacity: 1; cursor: pointer; transition: 1s ease all; -webkit-transition: 1s ease all; -moz-transition: 1s ease all; -o-transition: 1s ease all; }

.feats .selector .active h1 { opacity: 1; }

.feats .slide-holder { width: 92%; max-width: 1500px; margin: 0 auto; border: 0px; background: transparent !important; }

.feats .slide-holder ul { list-style: none; }

.feats .slide-holder ul li { display: none; }

.feats .slide-holder ul li section { width: 100%; min-height: 700px; position: relative; }

.feats .slide-holder ul li section .screen { position: absolute; top: 0px; right: 0vw; max-width: 900px; }

.feats .slide-holder ul li section .carpet { position: absolute; bottom: 2vh; left: 8vw; max-width: 400px; }

.feats .slide-holder ul li:nth-child(1) { display: block; }

.feats .slide-holder .flex-prev:before, .feats .slide-holder .flex-next:before { color: rgba(255, 255, 255, 0.56); }

.join { padding-top: 15vh; width: 100%; height: 85vh; position: relative; text-align: center; background: url(images/foot-bg.png) no-repeat; background-size: cover; position: relative; }

.join .title { max-width: 1000px; margin: 20px auto; text-transform: uppercase; font-size: 3.5em; line-height: 1em; background: linear-gradient(0deg, #156f35 10%, #2fe770 90%) no-repeat; -webkit-background-clip: text; -webkit-text-fill-color: transparent; }

.join .title span { font-size: 1.5em; }

.join .members { max-width: 800px; margin: 20px auto; text-align: center; }

.join .members h1 { font-size: 4em; margin: 0px; line-height: 1em; }

.join .members h2 { font-size: 2.5em; margin: 0px; line-height: 1em; }

.join form .submiter { max-width: 500px; border: 2px solid white; margin: 15px auto; border-radius: 20px; overflow: hidden; background: rgba(255, 255, 255, 0.1); }

.join form .submiter input[type=email] { vertical-align: middle; width: 70.4%; background: rgba(255, 255, 255, 0); color: white; padding: 8px 20px; margin: 0px; display: inline; font-size: x-large; }

.join form .submiter input[type=email]:focus { transition: 1s ease all; -webkit-transition: 1s ease all; -moz-transition: 1s ease all; -o-transition: 1s ease all; color: #2fe770; }

.join form .submiter input[type=submit] { vertical-align: middle; width: 28.6%; background: #2fe770; color: white; padding: 4% 20px; margin: 0px; display: inline; font-size: x-large; text-transform: uppercase; }

.join form .submiter input[type=submit]:hover { transition: 1s ease all; -webkit-transition: 1s ease all; -moz-transition: 1s ease all; -o-transition: 1s ease all; background: #129e44; cursor: pointer; }

.join .legal-txt { font-size: small; }

.join .legal-txt strong { color: #2fe770; }

.join .legal-txt strong:hover { cursor: help; }

.join .social-hub { margin: 20px auto; }

.join .social-hub a i:before { font-size: 3.5em; color: white; margin: 0 10px; }

.join .social-hub a i:hover:before { transition: 1s ease all; -webkit-transition: 1s ease all; -moz-transition: 1s ease all; -o-transition: 1s ease all; color: #2fe770; }

.join .terms { opacity: 0; position: fixed; z-index: 9999; top: 0px; left: 0px; right: 0px; margin: 0 auto; width: 100%; height: 100vh; background: rgba(0, 0, 0, 0.8); padding: 10px; display: none; }

.join .terms .fa-close { position: absolute; top: 4vh; z-index: 999; font-size: xx-large; color: white; right: 4vw; }

.join .terms .fa-close:hover { cursor: pointer; }

.join .terms article { top: -100vh; max-width: 600px; height: 60vh; position: relative; margin: 8% auto; overflow: scroll; background: #121315; color: white; padding: 20px; }

.join .terms article h1 { display: block; margin: 20px auto; color: white; font-size: 2em; text-align: center i; text-align-display: block; text-align-margin: 10px auto; }

.join .terms article p { display: block; margin: 40px 0px; color: white; text-align: center; font-size: medium; text-align: left; line-height: 28px; }

.join .terms article p strong { display: block; margin: 10px 0px; font-size: large; }

.join .terms article form p { width: 60%; display: block; margin: 10px auto; text-align: center; }

.join .terms article form p input[type=text] { background: rgba(255, 255, 255, 0.21); border: 2px solid #121315; color: #121315; padding: 8px; }

.join .terms article form p input[type=text]:focus { transition: 1s ease all; -webkit-transition: 1s ease all; -moz-transition: 1s ease all; -o-transition: 1s ease all; background: #121315; color: white; }

.join .terms article form p input[type=submit] { display: block; margin: 0 auto; color: white; background: transparent; padding: 8px 12px; border: 2px solid white; border-radius: 10px; color: #2fe770; border: 1px solid #2fe770; }

.join .terms article form p input[type=submit] i { margin-right: 6px; }

.join .terms article form p input[type=submit]:hover { cursor: pointer; transition: 1s ease all; -webkit-transition: 1s ease all; -moz-transition: 1s ease all; -o-transition: 1s ease all; background: rgba(255, 255, 255, 0.52); }

.join .terms article form p input[type=submit]:hover { transition: 1s ease all; -webkit-transition: 1s ease all; -moz-transition: 1s ease all; -o-transition: 1s ease all; background: #2fe770; color: white; }

.join .terms article:before { text-align: center; content: '\f05c'; font-family: 'FontAwesome'; color: red; display: block; margin: 10px auto; font-size: 4em; }

.join .terms iframe { top: -100vh; width: 60%; height: 65vh; position: relative; margin: 8% auto; }

.join footer { position: absolute; bottom: 0px; width: 100%; background: rgba(0, 0, 0, 0.8); padding: 20px 0px; text-align: center; }

@media all and (min-width: 1800px) { header { height: 100px; padding: 14px auto; max-height: none; }
  header figure a img { height: 90%; }
  header p a { font-size: xx-large; }
  header .login-but { font-size: xx-large; }
  .cover .cta { position: relative; top: 0vh; }
  .cover .cta h1 { padding-left: 7.5vw; display: block; position: relative; margin: 5px auto; width: 90%; font-size: 10em; }
  .cover .cta i { margin: 0.4em auto; }
  .cover .cta i:before { font-size: 2em; }
  .cover .cta .store p { font-size: 2em; }
  .cover .cta .store a { max-height: 100px; }
  .cover .cta .store a img { height: 90%; }
  .cover .device { position: relative; top: 0vh; }
  .cover .device figure { max-height: 1000px; }
  .howto .title-holder { margin: 80px auto; }
  .howto .title-holder h1 { font-size: 6em; }
  .howto .title-holder p { font-size: 2em; }
  .howto .step-holder { margin-top: 15vh; max-width: 2000px; }
  .howto .step-holder .item { max-width: 400px; margin: 0px 1%; }
  .howto .step-holder .item figure { max-height: 280px; }
  .howto .step-holder .item h3 { font-size: 2.8em; line-height: 1em; }
  .howto .step-holder .item p { font-size: xx-large; }
  .feats { height: 80vh; }
  .feats .selector { max-width: 800px; }
  .feats .selector a h1 { font-size: 8em; }
  .feats .slide-holder { max-width: 2000px; }
  .feats .slide-holder ul li section { width: 100%; }
  .feats .slide-holder ul li section .screen { right: -5vw; width: 60%; max-width: none; }
  .feats .slide-holder ul li section .carpet { bottom: -25vh; width: 30%; max-width: none; }
  .join { height: 100vh; }
  .join .title { font-size: 5em; max-width: 1500px; }
  .join .members { max-width: 1500px; font-size: 2em; margin: 80px auto; }
  .join form .submiter { max-width: 900px; }
  .join form .submiter input { font-size: xx-large !important; }
  .join .legal-txt { padding: 40px auto; font-size: x-large; }
  .join .social-hub { margin: 60px auto; }
  .join .social-hub a i:before { font-size: 4.5em; } }

@media screen and (max-width: 700px) { body { margin: 0 auto; padding: 0px; width: 100%; overflow-x: hidden; }
  header p { display: none; }
  section { height: auto !important; margin: 20px auto; }
  .cover { display: -webkit-flex; display: -ms-flexbox; display: flex; -webkit-flex-flow: column; -ms-flex-flow: column; flex-flow: column; }
  .cover .holder { display: block; margin: 0 auto; width: 80%; }
  .cover .cta { -webkit-order: 2; -ms-flex-order: 2; order: 2; }
  .cover .cta .title { display: block; margin: 8px auto; }
  .cover .cta .title h1 { font-size: 3.2em; }
  .cover .cta .store { width: 100%; }
  .cover .cta .store a { margin: 4px 0px; }
  .cover .cta .store a img { max-height: 30px; }
  .cover .device { -webkit-order: 1; -ms-flex-order: 1; order: 1; }
  .cover .device img { max-height: 400px; margin: 12px auto; }
  .howto { background-position: center top; }
  .howto .title-holder h1 { font-size: 3.5em; line-height: 0.8em; }
  .howto .step-holder .item { width: 30%; }
  .howto .step-holder .item figure img { max-height: 80px; }
  .feats .bullet-selector { top: 10vh; left: 0vw; }
  .feats .bullet-selector ul li a { font-size: 1.5em; }
  .feats .selector { top: 0px; position: relative; margin: 0 auto; width: 90%; }
  .feats .selector a h1 { font-size: 2.8em; }
  .feats .slide-holder ul li section { min-height: 500px; }
  .feats .slide-holder ul li section .screen { left: -20vw; top: 0vh; max-width: 450px; }
  .feats .slide-holder ul li section .carpet { left: auto; left: -25vw; bottom: 15vh; max-width: 260px; -webkit-transform: rotate(60deg); -ms-transform: rotate(60deg); transform: rotate(60deg); }
  .join .title { font-size: 2em; line-height: 1.2em; }
  .join form .submiter { width: 80%; }
  .join form .submiter input[type=email] { padding: 5%; font-size: medium !important; width: 68%; }
  .join form .submiter input[type=submit] { width: 30%; }
  .join .social-hub { padding-bottom: 80px; }
  .login-form, .video, .terms { padding: 0px; }
  .login-form article, .video article, .terms article { max-width: 70% !important; max-height: 50vh !important; }
  .login-form article p, .video article p, .terms article p { width: 80% !important; }
  iframe { margin: 20vh auto !important; width: 95% !important; height: auto !important; }
  .show-modal article, .show-modal iframe { position: relative !important; margin: 18vh auto !important; }
  .show-modal .fa-close { right: 8vw !important; } }
